@model IEnumerable<MusicDotNet.Models.Song>

@{
    ViewData["Title"] = "Songs";
}

<h1>Songs</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create">Add Song</a>
    }
</p>
<table class="table table-dark table-striped sortable">
    <thead>
        <tr>
            <th>
                <a href="#">Title</a>
            </th>
            <th>
                <a href="#">Length</a>
            </th>
            <th>
                <a href="#">Track No</a>
            </th>
            <th>
                <a href="#">Album</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Title)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SongId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SongId">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.SongId">Details</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
