@model MusicDotNet.Models.Album

@{
    ViewData["Title"] = "Album Details";
}

<h1>Album Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist):
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Artists" asp-action="Details" asp-route-id="@Model.AlbumId">@Html.DisplayFor(model => model.Artist.Name)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Length):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumArt):
        </dt>
        <dd class="col-sm-10">
            @if (Model.AlbumArt != null)
            {
                <img src="~/img/albums/@Model.AlbumArt" alt="Album Art" class="imgLg" />
            }
            else
            {
                <p>No Album Art Present</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AlbumId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
